@import "tailwindcss";
@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #fff;
  --color-dark-purple: #3B1D57;
  --color-violet: #7C4CA0;
  --color-magenta: #E93CAC;
  --color-red-orange: #FF3E2F;
  --color-gold: #F6A93C;
  --color-gray: #B5B5B5;
  --color-charcoal: #2A2A2A;
}






